.home_section{
    width: 100%;
    position: relative;
    top: 60px;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    border-bottom: 2px solid rgb(199, 199, 199);
    margin-bottom: 10px;
}

.head{
    margin-top:60px;
    padding-left: 10px;
}
.products_section .products_items img{
    width: 150px;
    height: 200px;
    margin-top: 4px;
    text-align: center;
    display: block;
    justify-content:center;
    align-items: center;
    margin:auto;
}

.products_section .products_items{
    margin: 20px;
    padding: 20px;
    font-size: larger;
    display: flex;
    flex-direction:column;
    cursor: pointer;
    border: solid 1px lightGrey;
    /* border: none; */
    border-radius: 5px;
    width:700px;
}


.products_section .products_items span{
    font-size: 14px;
    display: flex;
    flex-direction:row;
}

